<footer class="footer">
 <ul class="footer__list">
  <li class="footer__item"><a class="footer__item--link" href="/src/index.html" class="menu__link"><img src="/src/assets/images/logo-woman-footer.svg"  width="25" alt="logo del festival" height="20"></a></li>
  <li class="footer__item"><a class="footer__item--link" href="/src/bands.html">Artists & Bands</a></li>
  <li class="footer__item"><a class="footer__item--link" href="/src/history.html">Festival History</a></li>
  <li class="footer__item"><a  class="footer__item--link"href="/src/wanna-play.html">Wanna play?</a></li>
  <li class="footer__item"><a class="footer__item--link" href="/src/documentation.html">Documentation</a></li>
  <a href="https://es-es.facebook.com/" target="_blank"><li class="footer__item fa-brands fa-google-plus"></li></a>
  <a href="https://www.google.es/" target="_blank"><li class="footer__item fa-brands fa-facebook"></li></a>
  <a href="https://twitter.com/?lang=es" target="_blank"><li class="footer__item fa-brands fa-twitter"></li></a>
 </ul>
</footer>
