<header>
 <nav class="menu">
  <ul class="menu__list">
    <li class="menu__item"><a href="/src/index.html" class="menu__link"><img src="/src/assets/images/logo-woman.svg"  width="50" alt="logo del festival" height="40"></a></li>
    <li class="menu__item"><a href="/src/bands.html" class="menu__link">ARTISTS & BANDS</a></li>
    <li class="menu__item"><a href="/src/history.html" class="menu__link">FESTIVAL HISTORY</a></li>
    <li class="menu__item"><a href="/src/wanna-play.html" class="menu__link">WANNA PLAY?</a></li>
    <li class="menu__item"><a href="/src/documentation.html" class="menu__link">DOCUMENTATION</a></li>
    </ul>
  </nav>
</header>
